html {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
}

body {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

#guide {
  top: -60px;
  position: absolute;
  z-index: 1;
  padding: 70px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(240, 240, 240);
  border-radius: 50px;
  transition: margin .4s;
}

.side {
  position: absolute;
  display:grid;
  grid-template-columns:275px auto 200px;
  width: 100%;
  height: 100%;
  align-items: center;
}

#touchable {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}


#myImg {
  position: relative;
  display:inline-block;
  vertical-align:top;
}

#nav {
  z-index: 5;
  width: 275px;
  height: 100vh;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: linear-gradient(90deg, rgba(40,40,40,0) 0%, rgba(40,40,40,0.25) 35%, rgba(40,40,40,0.25) 65%, rgba(40,40,40,0) 100%);
  transition: overflow .5s, margin .4s;
  animation: 7s delay-overflow;
}

#nav:hover {
  overflow-y: scroll;
}

#nav .navImg {
  width: 200px;
  height: 200px;
  z-index: 3;
  object-fit: contain;
  background-color: rgb(240, 240, 240);
}

.card-container {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 200px;
  z-index: 1;
  display: inline;
  position: absolute;
  transition: right .4s;
  height: 90vh;
}

.card {
  z-index: 2;
  padding: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  height: 100%;
  position: relative;
}

.card p {
  font-weight: bold;
  color: #0086fe;
}

.card .block {
  text-align: center;
}
.card .blocktext{
  padding: 50px 0 50px 0;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.card .blocktext .text {
  margin: -5px;
}

.card .drag-area {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px dashed #0086fe;
  color: #0086fe;
  background: #f4f3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.card .drag-area .visible{
  font-size: 18px;
}

.card .select {
  color: #5256ad;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.card .select :hover {
  opacity: 0.6;
}

.container{
  padding-bottom: 25px;
}

.container .clear {
  width: 100px;
  border-radius: 75px;
  background-color: #197399;
  display: block;
  margin: 10px 0 0 10px;
}

.container #clear {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.container #clear:hover {
  font-weight: 500;
}

.container .image {
  margin-top: 25px;
  margin-left: 25px;
  max-height: 300px;
  position: relative;
}

.container .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  object-fit: contain;
}

.card .container .image span {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}

.card input,
.card .drag-area .on-drop,
.card .drag-area .drag-over .visible {
  display: none;
}

.delete {
  max-height: 20px;
  top: -10px;
  left: 0;
  z-index: 999;
  color:#0086fe;
  font-size: 30px;
  position: absolute;
}

.delete:hover {
  font-weight: bold;
  cursor:pointer;
}

.side ::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.side ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}